.course-section{
    padding-bottom: 0;
}

.course_details__single h2 a {
    font-size: 16px;
    line-height: 22px;
}

.course_details__single__duration, .course_details__single__class {
    font-size: 12px;
}


.course_category h2{
    font-size: 24px;
    font-weight: 700;
    color: #001F22;
    margin-bottom: 15px;
}
.course_category ul{
    padding-left: 0;
}
.course_category ul li a{
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 7px;
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #4B4B4B;
    transition: all .5s;
}
.course_category ul li.active a,
.course_category ul li a:hover{
    background-color: #007C88;
    color: #fff;
}

/* course details page */
.header__text h2{
    padding-bottom: 100px;
}
.header__image img{
    height: 80%;
}
.breadcrumber{
    padding: 60px 0 30px;
    background-color: #F8F8F8;
}
.breadcrumber a{
    color: #4B4B4B;
    font-size: 16px;
    font-weight: 700;
    padding-right: 25px;
    position: relative;
}

.breadcrumber a::after{
    content: url("../images/angle_right.png");
    position: absolute;
    right: 7px;
}
.breadcrumber a:last-child::after{
    content: '';
}
.course_details{
    background-color: #F8F8F8;
    padding-bottom: 30px;
}
.course_details__content{
    background-color: #fff;
    padding: 20px;
    margin-right: 7.5px;
}
.course_details .testimonial__video{
    padding: 20px;
    background-color: #fff;
    margin-bottom: 30px;
}
.course_details .testimonial__video .overlay{
    background-color: transparent;
}
.testimonial__video .overlay a::after{
    background-color: #007C88;
}

.course_details__features{
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    margin: 0 7.5px;
}

.course_details__features h2{
    font-size: 24px;
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
}
.course_details__features ul{
    padding-left: 0;
}
.course_details__features ul li{
    margin-bottom: 20px;
    font-size: 18px;
    color: #4B4B4B;
    position: relative;
    padding-left: 30px;
}
.course_details__features ul li::before{
    content: url("../images/clock.png");
    position: absolute;
    left: 0;
    top: 2px;
}
.course_details__features ul li.lecture::before{
    content: url("../images/video_play_icon.png");
}
.course_details__features ul li.schedule::before{
    content: url("../images/calender_icon.png");
}
.course_details__features ul li.exam::before{
    content: url("../images/exam.png");
}
.course_details__features ul li.certificate::before{
    content: url("../images/certificate.png");
}
.course_details__features ul li b{
    color: #000;
}

/* register section */
.register{
    background-color: #F8F8F8;
    padding-bottom: 50px;
}
.register .register__content{
    background-color: #fff;
    border-radius: 12px;
    padding: 40px 20px 30px;
}
.register .register__content .register__content__paragraph{
    padding: 20px 50px 0;
    color: #548085;
    font-size: 16px;
    font-weight: 600;
}
.suggested_course{
    padding: 50px 0 0;
}
.suggested_course > .container > h2{
    font-size: 36px;
    font-weight: 800;
    color: #000809;
    padding-bottom: 30px;
}

.course_details__fee span{
    font-size: 18px;
    font-weight: 600;
    color: #000809;
}
.course_details__fee span.emi{
    color: #FFC22F;
    font-size: 16px;
}

.course_details__fee h3{
    color: #007C88;
    font-weight: 900;
    font-size: 30px;
}