
.nav_number .avator {
	width: 30px;
	height: 30px;
	background: #ffffff;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 5px;
}
.nav_number .avator img{
    width: 100%;
}

/* Course list */
.my_course{
    padding-top: 80px;
}
.my_course .course_list table thead tr th{
    white-space: nowrap;
    font-family: "Nunito";
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: #4B4B4B; 
    text-align: center;
}
.my_course .course_list table tbody tr .course_name{
    width: 300px;
    text-align: left;
}
.my_course .course_list table tbody tr td a.threedot{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fffdfd;
    color: #030D45;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.my_course .course_list table tbody tr td{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #000809; 
    padding: 0px;
    vertical-align: middle;
    padding: 10px;
    text-align: center;
}
.my_course .course_list table tbody tr{
    background: #F2F2F2; 
    border-bottom: 20px solid white;
}

.my_course .course_list table tbody tr td div .course_btn,
.course_btn{
    background: #C0C0C0;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    transition: all .3s;
    white-space: nowrap;
}
.my_course .course_list table tbody tr td div .complain_btn,
.complain_btn{
    color: #000809;
    white-space: nowrap;
}
.my_course .course_list table tbody tr td div .course_btn:hover,
.course_btn:hover{
    background: #007C88;
}

.my_course .course_list table tbody tr .completed,
.completed{
    color: #21C913;
}
.my_course .course_list table tbody tr .running,
.running{
    color: #007C88;
}

.my_course .course_list table tbody tr td ul li .course_btn{
    font-size: 14px;
    color: #fff;
}
.my_course h2.title{
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    color: #4B4B4B;
}
/* suggested course */
.suggested_course .title{
    font-size: 36px;
    font-weight: 700;
    line-height: 75px;
    color: #000809;
}

.action_title{
    font-size: 12px;
    line-height: 20px;
    color: #4B4B4B;
    margin: 15px 0 8px;
}

.more_btn{
    display: none;
}


.my_course .course_list table tbody tr td ul.dropdown-menu {
	min-width: 12rem;
	padding: 1.5rem 10px;
	width: 165px;
}


/********* More option ********/
@media all and (max-width: 992px){
    .display{
        display: none;
    }
    .more_btn{
        display: block;
    }
    .my_course {
        padding-top: 40px;
    }
}
@media all and (max-width: 576px){
    .my_course h2.title {
        font-size: 25px; 
        text-align: center;
    }
    .suggested_course .title {
        font-size: 25px; 
        text-align: center;
    }
}
@media all and (max-width: 446px){
    .my_course .course_list table thead tr th { 
        font-size: 16px; 
    }
    .my_course .course_list table tbody tr td {
        font-size: 14px; 
        line-height: 19px; 
    }
    .my_course {
        padding-top: 25px;
    }
}